html{
  /* background-color: #E7F6F2; */
  background-image: -webkit-linear-gradient(65deg, #395B64 50%, #E7F6F2 50%);
  font-family: sans-serif;
  text-align: center;
  min-height: 580px;

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

h1{
  color: #fff;
  margin-bottom: 0.1rem;
  padding-top: 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;

}



/* HEADING_PART */
#heading{
  background-color: #395B64;
  text-align: center;
  height: 3rem;
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}







/* IMAGES_SETTINGS */
img{
  position: absolute;
  z-index: -1;

}

.nutrition{
  max-width: 15%;
  left: 20%;
  top:20rem;
  transform: rotate(-25deg);

}

.barbell{
  right: 5%;
  max-width: 20%;
  top: 10rem;

}
.flexing{
  top: 15rem;
  max-width: 12%;
  left: 0%;
  transform: rotate(15deg);

}
.gym{
  top: 8rem;
  left: 12%;
  max-width: 8%;
  transform: rotate(15deg);

}

.biceps{
  top: 1rem;
  left: 20%;
  max-width: 8%;
  transform: rotate(-25deg);
}







/* INPUTS */
input:checked+ div.inputItem  p   {
  text-decoration: line-through;
  text-decoration-color: #395B64;
}



input[type="checkbox"] {
  margin: 1rem;
}

input[type="text"] {
  text-align: center;
  height: 2rem;
  border: none;
  /* background: transparent; */
  font-size: 1rem;
  font-weight: 200;
  outline: none;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #395B64;
}


.workoutInput{
  margin: auto 0.5rem;
  width: 19rem;
}







/* SETS */
.setInput{
  width: 2rem;
  margin: auto 0.5rem;
}

.topSetWord{
  color: #A9A9A9;
  width: 3.5rem;
  position: absolute;
  right: 0.5rem;
  font-weight: 10;
}










/* BUTTONS */
.addItemBtn{
  border-radius: 50%;
  background-color: #395B64;
  color: white;
  font-size: 1.2rem;
  border-style: none;
  width: 2.7rem;
  height: 2.3rem;
  padding: 0.1rem 0.3rem;
  margin: 0.1rem 0.3rem 0.1rem;
}

.resetBtn{
  border-radius:  0.4rem;
  background-color: #395B64;
  color: white;
  font-size: 1rem;
  border-style: none;
  width: 3rem;

  margin: 0.1rem 0.3rem;
}

.deleteItemBtn{
  background-color: white;
  color: grey;
  position: absolute;
  right: 0.3rem;
  border: none;
  margin: auto auto;
  top: 1rem;;
}
.deleteItemBtn:hover{
  color: black;
}








/* MIDDLE_PART */
.inputItem{
  inline-size:16rem;
  text-align: left;
  display: flex;
}

.itemSet{
  position: absolute;
  right: 2.6rem;
}

.box{
  width: 25rem;
  margin: 0.5rem auto;
  border-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  background: white;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);


  /* text-align: centre; */
}

.item{
  min-height: 3rem;
  display: flex;
  border-bottom: 1px solid #F1F1F1;
  position: relative;
  word-break: break-all;
}

#middle{
  position: relative;
}








/* FOOTERS */
footer{
  margin-top: 2rem;
  color: #fff;
}

#bottom{
  display: flex;
}



/* SCREEN_ADJUSTMENTS */
@media (max-width: 800px) {
  html{
    background-color:  #395B64 ;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
  }
}
